<div class="container">
	<div class="row justify-content-center">
		<form class="col-8">
			<div class="form-group">
				<input type="text" class="form-control" [(ngModel)]="textoABuscar" name="texto">
			</div>
		</form>
		<table class="col-8 table table-hover table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Titulo</th>
					<th>Autor</th>
					<th>Fecha</th>
					<th>Descripcion</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let novela of novelas | buscador:textoABuscar">
					<td>{{novela.titulo}}</td>
					<td>{{novela.autor | lowercase}}</td>
					<td>{{novela.fecha | date:"EEEE dd, MMMM / yyyy" | uppercase}}</td>
					<td>{{novela.sinopsis | reductor:10:"leer mas"}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>