<div class="container">
	<div class="row justify-content-center">
		<div class="col-6">
			<form [formGroup]="grupo" (ngSubmit)="registrar()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nombre" name="nombre" formControlName="nombre">
					<span *ngIf="grupo.get('nombre').invalid && grupo.get('nombre').touched">El nombre es requerido</span>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Correo" name="correo" formControlName="correo">
					<span *ngIf="grupo.get('correo').invalid && grupo.get('correo').touched && grupo.get('correo').hasError('required')">El correo es requerido</span>
					<span *ngIf="grupo.get('correo').invalid && grupo.get('correo').touched && grupo.get('correo').hasError('email')">El formato debe ser de correo</span>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Contrasena" name="contrasena" formControlName="contrasena">
					<span *ngIf="grupo.get('contrasena').invalid && grupo.get('contrasena').touched">La contrasena es requerida</span>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Confirmacion contrasena" name="confirmacion" formControlName="confirmacion">
					<span *ngIf="grupo.get('confirmacion').invalid && grupo.get('confirmacion').touched">La confirmacion es requerida</span>
				</div>
				<div class="form-check form-check-inline">
					<input type="checkbox" class="form-check-input" formControlName="terminos" name="terminos">
					<label class="form-check-label">Acepto términos y condiciones</label>

				</div>
				<span *ngIf="grupo.get('terminos').invalid &&grupo.get('terminos').touched">Debe aceptar los términos y condiciones</span>
				<div>
					<button class="btn btn-success btn-block" [disabled]="grupo.invalid">Ingresar</button>
					<button class="btn btn-warning btn-block" (click)="cargarDatos()" type="button">Cargar datos</button>
					<button class="btn btn-primary btn-block" (click)="cargarDatosParciales()" type="button">Cargar datos parciales</button>
				</div>
			</form>
		</div>
	</div>
</div>