<button (click)="listarAlumnos()">Obtener Lista de Alumnos</button>

<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let alumno of alumnos">
			<td>{{alumno.nombre}}</td>
			<td>{{alumno.apellido}}</td>
		</tr>
	</tbody>
</table>

<button (click)="listarUsuarios()">Usuarios</button>

<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Correo</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let usuario of usuarios">
			<td>{{usuario.name}}</td>
			<td>{{usuario.email}}</td>
		</tr>
	</tbody>
</table>